* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  min-height: 100vh;
  position: relative;
}
:root {
  --green:  #36e747; /* Gräsgrön som används till knappar och logo */
  --font-family: 'Georgia', serif;
  --background: linear-gradient(to left, rgb(13, 13, 13),rgb(13, 13, 13),rgb(3, 3, 3));
  --white: #f1f7f1; /* Vit bakgrundsfärg, samma vita färg som logo */
}
.nav-bar {
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  top: 0;
  padding-top: 10px;
  margin-bottom: 20px;
  z-index: 1000;
  background: var(--background);
}
.logo {
  cursor: pointer;
  width: 150px;
  transition: transform .5s;
}
.logo:hover {
  transform: scale(1.2);   
}
.link-container {
  color: var(--green);
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 30px;
  font-family: var(--font-family);
}
.home-button,
.about-us-button,
.contact-button {
  color: var(--green);
  transition: transform .5s;
}

.home-button:hover,
.about-us-button:hover,
.contact-button:hover {
    color: var(--white);
    transform: scale(1.5);
     
}

a:link {
  text-decoration: none;
}
.search-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.search-container input {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 200px;
  border-radius: 5px;
  border-color: transparent;
  /* background-color: white;
  border: 3px solid green; */
}
.search-button{
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
}
.checkout-button {
  color: white;
}
.home-button,
.about-us-button,
.contact-button {
    color: var(--green);
    transition: transform .5s;
}
.home-button:hover,
.about-us-button:hover,
.contact-button:hover {
    transform: scale(1.5);
}

/* ---------------------------------------Head title-------------------- */

.head-title {
  /* border: 2px solid orange; */
  margin-left: 15vw;
  font-size: 3rem;
  color: rgb(31, 235, 34);
  position: absolute;
  top: 200px;
  z-index: 2;
  font-family: var(--font-family);
}
.desk-pic-container {
  /* border: 3px solid pink; */
  display: flex;
  flex-direction: row-reverse;
  background: linear-gradient(to right, rgb(0, 0, 0),rgb(5, 7, 5));
  z-index: 1;
  margin: 0;
}
.desk-pic {
  object-fit: contain;
  height: 500px
} 
.about-us-container {
  position: absolute;
  top:350px;
  z-index: 2;
  margin-left: 15vw;
  width: 50vw;
  font-size: 20px;
  color: white;
  font-family: var(--font-family);
}

/* -----------------------------------------The crew-------------------------- */
.the-crew-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 15vh;
}
.ceo-info {
  /* border: 2px solid greenyellow; */
  margin-left: 30vw;
  margin-top: 2vh;
  display: flex;
  color: white;
  font-family: var(--font-family);
}
.info-container {
  margin-left: 3vw;
  padding-top: 20vh;
  font-size: 20px;
}
.img-ceo{
  width: 200px;
  border-radius: 5px;
}
.img-cw1 {
  width: 200px;
  border-radius: 5px;
}
.img-cw2 {
  width: 200px;
  border-radius: 5px;
}
.img-cw3 {
  width: 300px;
  border-radius: 5px;
}
.info-container1 {
  margin-left: 1vw;
  color: white;
  font-family: var(--font-family);
}



/* --------------------------------------------Footer------------------------------------ */
#footer {
  /* border: 2px solid orange; */
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
footer p {
  margin: 20px;
  color: white;
  font-size: 25px;
}
.fa-facebook,
.fa-square-instagram,
.fa-square-x-twitter {
  color: var(--green);
  font-size: 30px;
  margin: 10px;
  transition: transform .5s;
}
.fa-facebook:hover,
.fa-square-instagram:hover,
.fa-square-x-twitter:hover {
  transform: scale(1.5);
}
.img-ceo,
.img-cw1,
.img-cw2,
.img-cw3 {
  width: 250px;
  height: 300px;
}