* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
:root {
  --green: #36e747; /* Gräsgrön som används till knappar och logo */
  --background: linear-gradient(to right, rgb(5, 5, 5),rgb(13, 13, 13),rgb(30, 31, 30));
  --grey: rgb(37, 35, 35); /* form bakgrunsfärg*/
  --font-family: 'Georgia', serif; 
<<<<<<< HEAD
  --backgroundBlack: rgb(6, 6, 6);

=======
  --backgroundBlack1: rgb(23, 22, 22);
  --white: #f1f7f1; /* Vit bakgrundsfärg, samma vita färg som logo */
>>>>>>> 1930acfa0695e8bf451d340469db3523d89889a9
}
body {
  background: var(--background);
}
.logo {
  /* border: 2px solid pink; */
  cursor: pointer;
  transition: transform .5s;
  width: 150px;
}

.logo:hover {
  transform: scale(1.2);
}
.nav-bar {
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  top: 0;
  padding-top: 10px;
  background: var(--background);
  margin-bottom: 20px;
  z-index: 1000;

}
.link-container {
  color:var(--green);
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 30px;
  font-family: var(--font-family);
}
.home-button,
.about-us-button,
.contact-button {
    color: var(--green);
    transition: transform .5s;
}

.home-button:hover,
.about-us-button:hover,
.contact-button:hover {
    color: var(--white);
    transform: scale(1.5);
     
}

a:link {
  text-decoration: none;
}
.search-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.search-container input {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 200px;
  border-radius: 5px;
  border-color: transparent;
  /* background-color: white;
  border: 3px solid green; */
}
.search-button{
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
}
.checkout-button {
  color: white;
}
hr {
 color: greenyellow;
}
.home-button:hover,
.about-us-button:hover,
.contact-button:hover {
    transform: scale(1.5);
}
/* ----------------------------------- FORM ------------------------------------------------- */
.contact-us {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: medium;
  color:  rgb(227, 233, 227);
  font-family: var(--font-family);
}
.contact-us h1 {
  font-size: 45px;
  color: greenyellow;
}
.container-flex{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin-top: 30px;
}
.form-container-flex {
  /* border: 2px solid blue; */
  background-color: var(--grey);
  border-radius: 5px;
  width: 40%;
  height: 70%;
  margin-top: 10px;
  padding-top: 40px;
  /* box-shadow: 0 0 9px rgba(255, 255, 255, 0.77); */
}
.input  {
  border-radius: 5px;
  width: 17vw;
  padding: 3px;
  font-family: var(--font-family);
}
label {
  margin-left: 20vh;
  color: white;
  background-color: var(--grey);
  font-family: var(--font-family);
}
.text-input {
  margin-left: 20vh;
}
#text-area {
  border-radius: 5px;
  width: 20vw;
}
.submit-button {
  margin-left: 15vw;
  border-radius: 5px;
  width: 8vw;
  border: 2px solid #409748;
  font-size: 20px;
  background-color: var(--green);
  font-family: var(--font-family);
}
.label, .text-input, .flex {
  margin-bottom: 30px; /* Adjust the margin as needed */
  background-color: var(--grey);
}
.home-button,
.about-us-button,
.contact-button {
    color: var(--green);
    transition: transform .5s;
}
/* ----------------------------------- FOOTER ----------------------------------------------  */
#footer {
  /* border: 2px solid orange; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
footer p {
  margin: 20px;
  color: white;
  font-size: 25px;
  font-family: var(--font-family);
}
.fa-facebook,
.fa-square-instagram,
.fa-square-x-twitter {
  color: var(--green);
  font-size: 30px;
  margin: 10px;
  transition: transform .5s;
}
.fa-facebook:hover,
.fa-square-instagram:hover,
.fa-square-x-twitter:hover {
  transform: scale(1.5);
}
.img-ceo,
.img-cw1,
.img-cw2,
.img-cw3 {
  width: 250px;
  height: 300px;
}