
:root {
    --green: #409748; /* Gräsgrön som används till knappar och logo */
    --white: #f1f7f1; /* Vit bakgrundsfärg, samma vita färg som logo */
  }
body {
    margin: 0;
    padding: 0;
}
.logo {
    width: 300px;
    
}
.nav-bar {
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 8px;
    background-color: black;
    z-index: 1;
    margin-bottom: 20px;
}

.link-container {
    display: flex;
    justify-content: space-around;
    
    width: 50%;
}

.home-button,
.about-us-button,
.contact-button {
    color: var(--green);
    
}
a:link {
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}
.search-container input {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 200px;
    border-radius: 5px;
    border-color: transparent;
}
.search-button{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: var(--white);
}
.checkout-button {
    color: var(--white);
}
.slideshow {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:0 auto;
}

.slide{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.slide1{background-image: url('https://images.unsplash.com/photo-1549298916-f52d724204b4?q=80&w=1713&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
.slide2{background-image: url('https://images.unsplash.com/photo-1552066344-2464c1135c32?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}

.slide-btn{
    transition:all 0.3s ease-in;
    cursor: pointer;
}
#slide-right{
    position: absolute;
    top:47%;
    right:2%;
    font-size: 3rem;
}
#slide-left{
    position: absolute;
    top:47%;
    left:2%;
    font-size: 3rem;
}
.slide-btn:hover{
    color:var(--white);

}
.slide-btn:hover{
    color:var(--white)
}

 .products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
   

 }

 .product-image {
    width: 300px;
    height: 300px;
 }
#product1,
#product2,
#product3,
#product4,
#product5,
#product6,
#product7,
#product8,
#product9 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dropdown {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: pink;
    position: absolute;
    top: 20;
}

.checkout {
    cursor: pointer;
}

.hidden {
    display: none;
}

.dropdown-image {
    width: 50px;
    height: 50px;
}