* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

:root {
    --green:  #36e747; /* Gräsgrön som används till knappar och logo */
    --white: #f1f7f1; /* Vit bakgrundsfärg, samma vita färg som logo */
    --backgroundBlack1: rgb(23, 22, 22);
    --background: linear-gradient(to right, rgb(5, 5, 5),rgb(13, 13, 13),rgb(30, 31, 30));
}
body {
    
    background: var(--background);
}


.nav-bar {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    top: 0;
    padding-top: 10px;
    background: var(--background);
    margin-bottom: 20px;
    z-index: 1000;
}
.logo {
    cursor: pointer;
    width: 150px;
    transition: transform .5s;
}
.logo:hover {
    transform: scale(1.2);
}
.link-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 30px;
}
.home-button,
.about-us-button,
.contact-button {
    color: var(--green);
    transition: transform .5s;
}

.home-button:hover,
.about-us-button:hover,
.contact-button:hover {
    color: var(--white);
    transform: scale(1.5);
     
}



a:link {
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}
.search-container input {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 200px;
    border-radius: 5px;
    border-color: transparent;
}
.search-button{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: var(--white);
    cursor: pointer;
}

.checkout-button {
    display: flex;
    justify-content: flex-start;
    color: var(--white);
    position: relative;
    
}

.dropdown-image {
    width: 130px;
    height: 100px;
}
.dropdown {
    /* border: 1px solid black; */
    width: 130px;
    height: 50px;
    /* background-color: pink; */
    position: absolute;
    top: 160px;
    right: 10px;
    color: var(--white);
    font-size: 14px;
  
}
.dropdown p {
    margin-top: 2px;
}

header {
    color: var(--white);
}

.slideshow { 
        width: 1000px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin:0 auto;
}
.slide{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.slide1{background-image: url('https://images.unsplash.com/photo-1549298916-f52d724204b4?q=80&w=1713&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
.slide2{background-image: url('https://images.unsplash.com/photo-1552066344-2464c1135c32?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}

.slide-btn{
    transition:all 0.3s ease-in;
    cursor: pointer;
}
#slide-right{
    position: absolute;
    top:47%;
    right:2%;
    font-size: 3rem;
}
#slide-left{
    position: absolute;
    top:47%;
    left:2%;
    font-size: 3rem;
}
.slide-btn:hover{
    color:var(--white);

}
.slide-btn:hover{
    color:var(--white)
}

.product-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    color: var(--white);
    
}

.product-heading h1 {
    margin: 20px;
}

.product-heading p {
    margin: 20px;
}
 #landing-page-image {
    width: 600px;
    height: 500px;
    
 }

 .products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    margin-bottom: 20px;

 }

 .product-image {
    width: 300px;
    height: 300px;
    
 }
#product1,
#product2,
#product3,
#product4,
#product5,
#product6,
#product7,
#product8,
#product9 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background: var(--white);
    
}

.label {
    background-color: red;
    width: fit-content;
    position: absolute;
    top: 0px;
    right: 0px;
}


.product-name,
.product-description,
.product-price {
    margin-left: 10px;
    margin: 10px;
}

.button-cart {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--green);
    border: transparent;
    cursor: pointer;
    color: var(--white);
}




.checkout {
    cursor: pointer;
}

.hidden {
    display: none;
}



footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.shipping {
    color: var(--white);
}
footer p {
    margin: 20px;
    font-size: 25px;
    color: var(--white);
}
.fa-facebook,
.fa-square-instagram,
.fa-square-x-twitter {
    
    color: var(--green);
    font-size: 30px;
    margin: 10px;
   
    transition: transform .5s;
}

.fa-facebook:hover,
.fa-square-instagram:hover,
.fa-square-x-twitter:hover {
    transform: scale(1.5);
}

.img-ceo,
.img-cw1,
.img-cw2,
.img-cw3 {
    width: 250px;
    height: 300px;
}